body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav a /* this for my nav linking*/ {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  img /*To fix my image*/ {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  